body {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  padding: 0px 15px 0px 15px;
  max-width: 1500px;
  width: 90%;
  border: 15px solid #bdc3c7;
  margin: 15px auto auto auto;
}

h1 {
  color: #2c3e50;
  font-size: 13em;
  text-align: center;
  border: 15px solid pink;
  margin: 15px auto 15px auto;
  padding: 15px;
  height: auto;
  width: auto;
}

#photo {
  border: 15px solid pink;
  border-radius: 0;
  display: inline;
  width: 250px;
}

table {
  border-collapse: collapse;
  margin-top: 15px;
}

tr {
  padding: 0px;
}

tr td:nth-of-type(1) {
  padding: 0px;
}

tr td:nth-of-type(2) {
  color: #3498db;
  line-height: 1.4;
  text-transform: uppercase;
  text-align: left;
  letter-spacing: 0.25rem;
  width: 715px;
  padding: 0px 0px 0px 15px;
  font-size: 3em;
}

p:nth-of-type(1) {
  margin-top: 16px;
}

#paragraph {
  font-size: 1.5em;
  line-height: 1.5;
  text-align: justify;
  vertical-align: top;
  margin: auto;
}

hr {
  background-color: #eee;
  border: 0 none;
  color: #eee;
  height: 2px;
}

#links {
  text-align: center;
}

a img {
  width: 50px;
  margin: 1% 3% 1% 3%;
}

/* Resize word repitition pane as screen size varies */
@media (max-width: 1023px) {
  h1 {
    font-size: 10rem;
  }
  #photo {
    min-width: 150px;
  }
}

@media (max-width: 768px) {
tr td:nth-of-type(2) {
  color: #3498db;
  line-height: 1.4;
  text-transform: uppercase;
  text-align: left;
  letter-spacing: 0.25rem;
  width: 715px;
  padding: 0px 0px 0px 15px;
  font-size: 1.5em;
}
}

@media (max-width: 576px) {
tr td:nth-of-type(2) {
  color: #3498db;
  line-height: 1.4;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.25rem;
  width: 715px;
  padding: 15px 0px 0px 0px;
  font-size: 1.5em;
}
#paragraph {
  font-size: 1rem;
}
}
